
body{
    font-size: 16px;
     max-width: 820px;
     margin: 70px auto;
     border: 1px solid darkgray;
     padding 55px 140px;
     box-sizing: border-box;
}
h1,h2{
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 40px;   
    font-weight: 400;
    letter-spacing: 2px;
    margin: 20px 0;
    
}
h2{
    color: #006EB6;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 15px;px;
}
hr{
    width: 600px;
    margin: 4px auto 48px;
    border:0;
    border-top: 1px solid #ddd;
}
p,
li {
  font-family: "Times New Roman", Times, serif;
  
}
p.mission-statement{
    font-size: 16px;
    line-height: 1.5em;
    padding: 80px 160px 55px;
}
p.university-does-this{
    font-size: 16px;
    line-height: 1.5em;
    padding: 80px 160px 55px;
}

ol,li{
    text-align: center;
}
footer{
    text-align: center;
}
footer img{
    width: 140px;
    margin-top: 45px;
    
}